@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using ToDyeFor.Models
@model List<MXRecipe>

<h1>Dye Recipes</h1>

<p>
    <a asp-controller="Recipe" asp-action="Calculator">Calculate Recipe</a>
    <a asp-controller="Recipe" asp-action="Delete">Delete Recipes</a>
</p>

@if (Model.Count == 0)
{
    <p>No recipes yet!</p>
}
else
{
<div class="centered">

    <section class="cards">
        @foreach (MXRecipe r in Model)
        {
            <div class="card" style="background-image: linear-gradient(to right bottom, white, white, @r.Color) ">
                <a class="nav-link text-dark" asp-controller="Search" asp-action="Detail" asp-route-id="@r.Id">
                    @*<img class="card-img-top" src="https://1502fabrics.com/wp-content/uploads/2016/08/Revolution-Texture-Midnight.jpg" />*@
                    <h5 class="card-title text-center">@r.Name</h5>
                    <div class="card-body">
                        <p>Dye Name: @r.DyeColor</p>
                        <p>Fabric: @r.Fabric</p>
                        <p>WoF: @r.FabricWeight g</p>
                    </div>
                </a>
            </div>
        }
    </section>
</div>
}