@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ToDyeFor.Models.MXRecipe
@*use this to reference this page <a asp-controller="Search" asp-action="Detail" asp-route-id="@recipe.Id">Detail</a>*@

<h1>@Model.Name  @*(id=@Model.Id)*@</h1>

<table class="table" style="background-image: linear-gradient(white, @Model.Color)">
    @*<tr>
            <th>ID</th>
            <td>@Model.Id</td>
        </tr>*@
    @*<tr>
            <th>Recipe Name</th>
            <td>@Model.Name</td>
        </tr>*@
    <tr>
        <th>Dye Name</th>
        <td>@Model.DyeColor</td>
    </tr>
    <tr>
        <th>Color</th>
        <td>@Model.Color</td>
    </tr>
    <tr>
        <th>Depth of Shade</th>
        <td>@Model.ShadeDepth %</td>
    </tr>
    <tr>
        <th>Fabric Weight</th>
        <td>@Model.FabricWeight grams</td>
    </tr>
    <tr>
        <th>Fabric/Fiber Type</th>
        <td>@Model.Fabric</td>
    </tr>
    <tr>
        <th>Salt</th>
        <td>@Model.Salt grams</td>
    </tr>
    <tr>
        <th>Soda Ash</th>
        <td>@Model.SodaAsh grams</td>
    </tr>
    <tr>
        <th>Water</th>
        <td>@Model.Water mL</td>
    </tr>
    <tr>
        <th>Dye</th>
        <td>@Model.Dye grams</td>
    </tr>
</table>
