@using System.Security.Claims;
@model ToDyeFor.Models.MXRecipe
@*use this to reference this page <a asp-controller="Search" asp-action="Detail" asp-route-id="@recipe.Id">Detail</a>*@

<h1>@Model.Name  @*(id=@Model.Id)*@</h1>


<div id="recipeDetail">
    <table class="table" style="background-image: linear-gradient(white, @Model.Color)">
        <tr>
            <th>Dye Name</th>
            <td>@Model.DyeColor</td>
        </tr>
        <tr>
            <th>Color</th>
            <td>@Model.Color</td>
        </tr>
        <tr>
            <th>Depth of Shade</th>
            <td>@Model.ShadeDepth %</td>
        </tr>
        <tr>
            <th>Fabric Weight</th>
            <td>@Model.FabricWeight grams</td>
        </tr>
        <tr>
            <th>Fabric/Fiber Type</th>
            <td>@Model.Fabric</td>
        </tr>
        <tr>
            <th>Salt</th>
            <td>@Model.Salt grams</td>
        </tr>
        <tr>
            <th>Soda Ash</th>
            <td>@Model.SodaAsh grams</td>
        </tr>
        <tr>
            <th>Water</th>
            <td>@Model.Water mL</td>
        </tr>
        <tr>
            <th>Dye</th>
            <td>@Model.Dye grams</td>
        </tr>
    </table>

</div>
<button class="btn btn-secondary" onclick="printDiv('recipeDetail')">Print Recipe</button>
@if (Model.ApplicationUserId == User.FindFirstValue(ClaimTypes.NameIdentifier) && Model.ApplicationUserId != null)
{
    <table>
        <tr>
            <td>
                <a asp-controller="Recipe" asp-action="Edit" asp-route-id="@Model.Id">Edit Recipe</a>
            </td>
            <td>
                <input onclick="on()" class="btn btn-danger" type="button" id="deleteButton" name="recipeId" value="Delete this Recipe" />
            </td>
        </tr>
    </table>
    <div class="confirmDelete" id="confirmDelete" style="visibility:hidden">
        <form method="post" class="form-group">

            <p class="form-control-plaintext">Are you sure you want to delete this recipe? Click anywhere to cancel.</p>

            <input class="hiddenConfirmBox form-control" type="text" name="recipeIds" value="@Model.Id">
            <input type="submit" value="Confirm" class="btn btn-danger form-control" />
        </form>
    </div>



    <div class="detailOverlay" id="detailOverlay" onclick="off()"></div>

    <script>
        let deleteButton = document.getElementById("deleteButton");
        let confirmation = document.getElementById("confirmDelete");
        let detailOverlay = document.getElementById("detailOverlay")

        deleteButton.addEventListener("click", function () {
            confirmation.style.visibility = "visible";
        });

        function on() {
            detailOverlay.style.display = "block";

        }

        function off() {
            detailOverlay.style.display = "none";
            confirmation.style.visibility = "hidden";
        }
    </script>
}