@using System.Security.Claims;
@model ToDyeFor.Models.MXRecipe
@*use this to reference this page <a asp-controller="Search" asp-action="Detail" asp-route-id="@recipe.Id">Detail</a>*@

<h1>@Model.Name  @*(id=@Model.Id)*@</h1>

@if (Model.ApplicationUserId == User.FindFirstValue(ClaimTypes.NameIdentifier) && Model.ApplicationUserId != null)
{
    <a asp-controller="Recipe" asp-action="Edit" asp-route-id="@Model.Id">Edit Recipe</a>
}

<table class="table" style="background-image: linear-gradient(white, @Model.Color)">
    <tr>
        <th>Dye Name</th>
        <td>@Model.DyeColor</td>
    </tr>
    <tr>
        <th>Color</th>
        <td>@Model.Color</td>
    </tr>
    <tr>
        <th>Depth of Shade</th>
        <td>@Model.ShadeDepth %</td>
    </tr>
    <tr>
        <th>Fabric Weight</th>
        <td>@Model.FabricWeight grams</td>
    </tr>
    <tr>
        <th>Fabric/Fiber Type</th>
        <td>@Model.Fabric</td>
    </tr>
    <tr>
        <th>Salt</th>
        <td>@Model.Salt grams</td>
    </tr>
    <tr>
        <th>Soda Ash</th>
        <td>@Model.SodaAsh grams</td>
    </tr>
    <tr>
        <th>Water</th>
        <td>@Model.Water mL</td>
    </tr>
    <tr>
        <th>Dye</th>
        <td>@Model.Dye grams</td>
    </tr>
</table>
