<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>


@if (ViewBag.displayRecipes.Count > 0)
{
    <div class="centered">

        <section class="cards">
            @foreach (MXRecipe r in ViewBag.displayRecipes)
            {
                <div class="card" id="resultCard" style="background-image: linear-gradient(to right bottom, white, white, @r.Color) ">
                    <a class="nav-link text-dark" asp-controller="Search" asp-action="Detail" asp-route-id="@r.Id">
                        @*<img class="card-img-top" src="https://1502fabrics.com/wp-content/uploads/2016/08/Revolution-Texture-Midnight.jpg" />*@
                        <h5 class="card-title text-center">@r.Name</h5>
                        <div class="card-body">
                            <p>Dye Name: @r.DyeColor</p>
                            <p>Fabric: @r.Fabric</p>
                            <p>WoF: @r.FabricWeight g</p>
                        </div>
                    </a>
                </div>
            }
        </section>
    </div>
}
else
{
    <div class="text-center">
        <p>No results to display for <b><em>@ViewBag.searchInput</em></b>.</p>
    </div>

    <form action="/search/results" method="post">
        <div class="searchBox">
            <input class="searchInput" type="text" name="searchInput" placeholder="">
            <button class="searchButton" href="#">
                <i class="material-icons">
                    search
                </i>
            </button>
        </div>
    </form>
}

